<!DOCTYPE html>
<html>
  <head>
    <title> Agregar Persona </title>
    <style type="text/css">
      .Avatar{
        display: inline-block;
        width: 200px;
      }

      body{
        background-color: #AACCAA;
        font-family: "Comic Sans MS";
        font-size: 20px;
      }

      .Titulo{
          font-family: "Tempus Sans ITC";
          font-size: 4.5em;
          color: #9A9;
          text-shadow: -2px -2px 1px black;
          display: inline-block;
      }

      input{
        font-family: "Comic Sans MS";
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div ng-controller="AgregarPersonaCtrl">
      <div class="jumbotron text-center">
      <center>
        <h1 class = "Titulo"> <b> Agregar Persona </b> </h1>
        <img src="Imagenes/Persona.png" class="Avatar">
      </center>
      <hr>
      <h2> Formulario para agregar un/una Persona. <h2>

      <form name="PersonaForm" class="form-horizontal" ng-init="load(id)">
        <div class="form-group">
          <label for="nombre" class="col-sm-2 control-label">Nombre</label>
          <div class="col-sm-10">
            <input name="nombre" value="nombre" type="text" ng-model="Persona.nombre" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="documento" class="col-sm-2 control-label">Documento</label>
          <div class="col-sm-10">
            <input name="documento" value="documento" type="text" ng-model="Persona.documento" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="telefono" class="col-sm-2 control-label">Telefono</label>
          <div class="col-sm-10">
            <input name="telefono" value="telefono" type="text" ng-model="Persona.telefono" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="direccion" class="col-sm-2 control-label">Direccion</label>
          <div class="col-sm-10">
            <input name="direccion" value="direccion" type="text" ng-model="Persona.direccion" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <br><br>
            <input type="submit" ng-click="cancel()" value="Cancelar" class="btn btn-primary"/>
            <input type="submit" ng-click="edit(id)" value="Guardar" class="btn btn-success"/>
          </div>
        </div>
      </form>
      <pre>Persona = {{Persona}} | json}}</pre>
      </div>
    </div>
  </body>
</html>