<!DOCTYPE html>
<html>
  <head>
    <title> Agregar Pelicula </title>
    <style type="text/css">
      .Avatar{
        display: inline-block;
        width: 200px;
      }

      body{
        background-color: #AACCAA;
        font-family: "Comic Sans MS";
        font-size: 20px;
      }

      .Titulo{
          font-family: "Tempus Sans ITC";
          font-size: 4.5em;
          color: #9A9;
          text-shadow: -2px -2px 1px black;
          display: inline-block;
      }

      input{
        font-family: "Comic Sans MS";
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div ng-controller="AgregarPeliculaCtrl">
      <div class="jumbotron text-center">
      <center>
        <h1 class = "Titulo"> <b> Agregar Pelicula </b> </h1>
        <img src="Imagenes/Pelicula.png" class="Avatar">
      </center>
      <hr>
      <h2> Formulario para agregar un/una Pelicula. <h2>

      <form name="PeliculaForm" class="form-horizontal" ng-init="load(id)">
        <div class="form-group">
          <label for="nombre" class="col-sm-2 control-label">Nombre</label>
          <div class="col-sm-10">
            <input name="nombre" value="nombre" type="text" ng-model="Pelicula.nombre" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="id" class="col-sm-2 control-label">Id</label>
          <div class="col-sm-10">
            <input name="id" value="id" type="text" ng-model="Pelicula.id" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="genero" class="col-sm-2 control-label">Genero</label>
          <div class="col-sm-10">
            <input name="genero" value="genero" type="text" ng-model="Pelicula.genero" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="duracion" class="col-sm-2 control-label">Duracion</label>
          <div class="col-sm-10">
            <input name="duracion" value="duracion" type="text" ng-model="Pelicula.duracion" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="director" class="col-sm-2 control-label">Director</label>
          <div class="col-sm-10">
            <input name="director" value="director" type="text" ng-model="Pelicula.director" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <br><br>
            <input type="submit" ng-click="cancel()" value="Cancelar" class="btn btn-primary"/>
            <input type="submit" ng-click="edit(id)" value="Guardar" class="btn btn-success"/>
          </div>
        </div>
      </form>
      <pre>Pelicula = {{Pelicula}} | json}}</pre>
      </div>
    </div>
  </body>
</html>